/* 图标整体样式 */
i[class^=icon] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 5px;
}
.svg-style {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
/* svg图标尺寸 */
.aside-svg {
  font-size: 20px;
  margin-bottom: -4px;
  margin-right: 3px;
}
.header-menu-svg {
  margin: 0 5px -2px 0;
  color: #ccc;
  font-size: 20px;
  vertical-align: top;
}

/* png图标尺寸 */
.icon-size-21 {
  width: 21px;
  height: 21px;
}
/* 图标 */
.icon-aside-home {
    background-image: url("~@/assets/icon/aside-home.png");
}
.icon-aside-console {
  background-image: url("~@/assets/icon/aside-console.png");
}
.icon-aside-information {
  background-image: url("~@/assets/icon/aside-information.png");
}
.icon-aside-product {
  background-image: url("~@/assets/icon/aside-product.png");
}
.icon-aside-user {
  background-image: url("~@/assets/icon/aside-user.png");
}