@import "normalize.scss";
@import "icon.scss";
// ul li
ul li {
  list-style: none;
}
// color
.color-white {
    color: #fff;
}
// font-size
.fs-12 {
    font-size: 12px;
}
// text-align
.text-center {
    text-align: center;
}
